<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
   <body style="padding: 20px !important">
      <p><span style="font-size: 12.0pt; line-height: 107%; font-family: 'Arial','sans-serif'; background: white;">Hola&nbsp;</span><span style="font-size: 12.0pt; line-height: 107%; font-family: 'Arial','sans-serif'; background: white;"><!--NAME--></span></p>
      <!-- <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Arial','sans-serif'; background: white;">&nbsp;</span></p> -->
      <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Arial','sans-serif'; background: white;">Como sabes nuestros sistemas no s&oacute;lo persiguen retornos positivos, sino que tambi&eacute;n pretenden&nbsp;<strong>mejorar las carteras de nuestros clientes</strong>.</span></p>
      
      <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Arial','sans-serif'; background: white;">Aunque los retornos de nuestras carteras han sido muy buenos hasta la fecha, por per&iacute;odos pueden sufrir (y de hecho sufren) debido a ciertos contextos del mercado, pero&nbsp;<strong>una constante en nuestros sistemas es la descorrelaci&oacute;n con los mercados</strong>.</span></p>
      
      <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Arial','sans-serif'; background: white;">Queremos aprovechar la ocasi&oacute;n para que puedas ver la evoluci&oacute;n de una cartera real, similar a la tuya, y compararla con la evoluci&oacute;n del &iacute;ndice de bolsa europea Eurostoxx50.</span></p>
      
      <p style="margin-bottom: .0001pt; line-height: normal; background: white;"><img src="<!--GRAPH_IMAGE_TYPE-->"></p>
      <p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 12.0pt; font-family: 'Arial','sans-serif';">La l&iacute;nea negra es una&nbsp;<strong>combinaci&oacute;n de una cartera 50% nuestra estrategia y 50% la evoluci&oacute;n del Eurostoxx 50</strong>. Como se aprecia, la cartera final es&nbsp;<strong>mucho m&aacute;s estable y eficiente desde un punto de vista de rentabilidad riesgo</strong>.</span></p>
      <p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 12.0pt; font-family: 'Arial','sans-serif';">Como siempre, estamos a tu disposici&oacute;n para cualquier asunto que necesites.</span></p>
     
      <p style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 12.0pt; font-family: 'Arial','sans-serif';">ACCURATE QUANT &ndash; &Aacute;rea de Comunicaci&oacute;n</span></strong></p>
   </body>
</html>