<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<body style="padding: 20px !important">
    <p>Hola <!--NAME--></p>
	<p>Nos ponemos en contacto contigo para recordarte la obligaci&oacute;n de presentar el Modelo 720, <strong>declaraci&oacute;n meramente informativa</strong> sobre bienes y derechos situados en el extranjero, <strong>cuyo plazo finaliza el pr&oacute;ximo 31 de marzo.</strong></p>
	<p>En este modelo deben declararse todos los bienes y derechos que se tenga en el extranjero cuando<strong> superen los 50.000&euro; bien a cierre de ejercicio o el saldo medio del &uacute;ltimo trimestre</strong>, independientemente a uno o varios titulares.</p>
	<p>En el c&oacute;mputo se incluye cualquier derecho (acciones, participaciones, si eres tomador o beneficiario de cualquier seguro, participaci&oacute;n en los fondos propios de cualquier sociedad, cesi&oacute;n a terceros de capital propio, participaci&oacute;n en IIC&hellip;).</p>
	<p><strong>Su cuenta con Tradestation</strong> est&aacute; domiciliada en EE.UU, por lo que <strong>tiene que considerarla para el c&oacute;mputo de dicha obligaci&oacute;n.</strong></p>
	<p>En caso de haber presentado en ejercicios anteriores este modelo, s&oacute;lo tiene obligaci&oacute;n de presentarlo de nuevo en caso de que el saldo se haya incrementado en 20.000 euros desde la &uacute;ltima vez</p>
	<p>En el siguiente link de la Agencia Tributaria, puedes encontrar toda la informaci&oacute;n necesaria para su cumplimiento:</p>
	<p><a href="https://www.agenciatributaria.gob.es/AEAT.sede/Ayuda/GI34.shtml">https://www.agenciatributaria.gob.es/AEAT.sede/Ayuda/GI34.shtml</a></p>
	<p>Para facilitarle su cumplimentaci&oacute;n, a partir exclusivamente de la informaci&oacute;n que disponemos de usted, le facilitamos los siguientes datos que puede obtener de los Statements oficiales de Tradestation, a los que puede acceder a trav&eacute;s de sus credenciales de su broker o bien a trav&eacute;s del &Aacute;rea de Cliente de nuestra web, en la secci&oacute;n &ldquo;INFORMES DEL BROKER&rdquo;.</p>
	<table style="padding-left:50px !important; padding-top: 20px !important; padding-bottom: 20px !important;">
	<tr>
	<td>Saldo medio &uacute;ltimo trimestre de 2018 : </td><td><!--SALDO_MEDIO_MONEDA--></td></tr>
	<tr><td>Saldo cierre de 2018 : </td><td><!--SALDO_FINAL_MONEDA--></td></tr>
	<tr><td>Fecha Incorporaci&oacute;n : </td><td><!--PRIMER_INGRESO--></td></tr>
	<tr><td>C&oacute;digo Cuenta : </td><td><!--CODIGO_CUENTA--></td></tr>
	<tr><td>Entidad :</td><td> TRADESTATION SECURITIES</td></tr>
	<tr><td>Domicilio:</td><td> 8050 SW1OTH STREET, PLANTATION FL 33324, ESTADOS UNIDOS</td></tr>
	<tr><td>Clave Tipo de Bien o Derecho:</td><td> C &ndash; Subclave : 5</td></tr>
	<tr><td>C&oacute;digo de Pa&iacute;s :</td><td> US</td></tr>
	<tr><td>Clave Identificaci&oacute;n Cuenta :</td><td> O</td></tr>
	<tr><td>Origen Bien o Derecho :</td><td> A Primera vez, M Declarada ejercicios anteriores</td></tr>
    <tr><td>Porcentaje Participaci&oacute;n:</td><td> 100% Cuentas Individuales, 50% Cuentas Conjuntas</td></tr>
    </tr>
	</table>
	<p>A modo de ejemplo le adjuntamos un borrador de modelo 720.</p>
	<p>Accurate Quant EAFI S.L es una entidad exclusivamente de Asesoramiento Financiero, por lo que <strong>es su responsabilidad como cliente cumplir con sus obligaciones fiscales</strong>. En este sentido, <strong>este correo electr&oacute;nico es meramente informativo</strong>. Le recomendamos que se asesore con la Agencia Tributaria o a su asesor fiscal.</p>
	<p>Un saludo.</p>
</body>
</html>
