<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<body style="padding: 20px !important">
    <p>Hola <!--NAME--></p>
    <p>Como sabr&aacute;s, el ejercicio <strong>2018 fue un a&ntilde;o
        muy convulso en los mercados financieros</strong>, donde pr&aacute;cticamente
        la totalidad de inversiones financieras, incluso las denominadas conservadoras,
        presentaron resultados negativos</p>
    <p>Los &iacute;ndices burs&aacute;tiles <strong>Ibex35 (-12,37%), Eurostoxx 50 (-13,24%) y S&amp;P 500 (-4,77%)</strong> presentaron resultados negativos,
        as&iacute; como la gran mayor&iacute;a de fondos de inversi&oacute;n.</p>
    <p>En cambio, <strong>nuestras estrategias tuvieron resultados muy positivos</strong>,
        reafirm&aacute;ndonos, no s&oacute;lo como una alternativa real de rentabilidad,
        sino tambi&eacute;n como una soluci&oacute;n ideal para mejorar cualquier cartera existente,
        gracias a su <strong>descorrelaci&oacute;n real con los mercados</strong>.</p>
    <p>En tu caso, tu cuenta de valores <!--ACCOUNT--> que tienes abierta con el broker Tradestation Securities,
        ha tenido la siguiente actividad a lo largo del a&ntilde;o 2018:</p>
    <table style="padding-left:50px !important; padding-top: 20px !important; padding-bottom: 20px !important;">
    <tr>
    <td>Situaci&oacute;n a 31 de diciembre de 2017: </td><td><!--_DIC17--> euros</td></tr>
    <tr><td>Aportaciones efectuadas durante el 2018:  </td><td><!--APORT18--> euros</td></tr>
    <tr><td>Reembolsos realizados durante el 2018: </td><td><!--REEMB18--> euros</td></tr>
    <tr><td>Situaci&oacute;n a 31 de diciembre de 2018:</td><td><!--_DIC18--> euros</td></tr>
    <tr><td>Resultado ejercicio 2018:  </td><td><!--RTDO18--> euros</td></tr>
    </tr>
    </table>
    <p>Este resultado arroja una rentabilidad de <!--RENT-->%. Esta rentabilidad est&aacute; calculada sobre el saldo medio de tu cuenta a lo largo del ejercicio,
        por lo que la rentabilidad de la cartera asesorada puede diferir sobre la cartera te&oacute;rica, ya que no se reinvierten las ganancias que se originan.</p>
    <p>Esta informaci&oacute;n la tienes disponible <strong>en nuestro &ldquo;&Aacute;rea de Clientes&rdquo;,</strong> en el apartado &ldquo;Informes Broker&rdquo;,
        donde puedes descargarte los informes oficiales del Broker (Statements), a los que puedes acceder directamente con tus credenciales.</p>
    <p>Te recordamos que Accurate Quant EAFI S.L es una entidad de asesoramiento financiero, siendo en tu caso Tradestation Securities el br&oacute;ker y
        depositario de tus inversiones. Los datos aqu&iacute; mostrados son meramente informativos,
        siendo la informaci&oacute;n oficial a efectos legales y fiscales,
        la proporcionada por Tradestation Securities.</p>
    <p>Un saludo</p>
    <p>Departamento de Administración - Accurate Quant EAFI S.L.</p>
</body>
</html>
